#root{
    -fx-background-color: #f6faff;
    -fx-fit-to-width: true;
    -fx-alignment: top-center;
    -fx-spacing: 2;

}

#head{
    -fx-background-color: #f6faff;
    -fx-fit-to-width: true;
    -fx-alignment: left;
    -fx-border-color: rgba(164, 164, 164, 0.97);
    -fx-spacing: 4;
    -fx-border-style: solid;
    -fx-min-height: 80;
}

#trainingBox{
    -fx-background-color: #d5ffda;
    -fx-fit-to-width: true;
    -fx-spacing: 10;
    -fx-border-color: rgba(164, 164, 164, 0.97);
    -fx-border-style: solid;
}


#topBlock{
    -fx-background-color: #f6faff;
    -fx-alignment: left;
}

#contentBox{
    -fx-background-color: #c8d6ff;
    -fx-spacing: 4;
    -fx-alignment: CENTER;
}

#row{
    -fx-background-color: #fff9e9;
    -fx-border-width: 2;
    -fx-border-color: rgba(164, 164, 164, 0.97);
    -fx-border-style: solid;
}

#trainButtonBox{
    -fx-background-color: #fff9e9;
    -fx-border-width: 2;
    -fx-border-color: rgba(164, 164, 164, 0.97);
    -fx-border-style: solid;
}

#testButtonBox{
    -fx-background-color: #fff9e9;
    -fx-border-width: 2;
    -fx-border-color: rgba(164, 164, 164, 0.97);
    -fx-border-style: solid;
}

#buttonBox{
    -fx-background-color: #fec1ff;
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
    -fx-alignment: baseline-center;
    -fx-border-width: 2;
    -fx-border-color: rgba(164, 164, 164, 0.97);
    -fx-border-style: solid;
}
